
a:link, a:visited, a:active {
    text-decoration: none;
}

.cards{
    display: flex;
    flex-wrap:wrap;
    padding: 2rem;



    justify-content: center;
    align-items: center;

}



.cards a:link, a:visited, a:active {
    text-decoration: none;
}